<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">Repositorio Institucional</h1>
          <p class="lead">Escuela de Educación Superior Pedagógica Pública Monterrico</p>
        </div>
      </div>       
      <div class="barra-iconos">
        <div class="row">
          <div class="col-sm">
            <div class="imagen">
              <a href="/community-list" target="_self"><img src="assets/monterrico/images/colecciones.png"  alt=""></a>
            </div>
            <div class="enlace">
              <a href="/community-list" target="_self"><h3>Colecciones</h3></a>
            </div>            
          </div>
          <div class="col-sm">
            <div class="imagen">
              <a href="/browse/author" target="_self"><img src="assets/monterrico/images/autores.png" alt=""></a>
            </div>
            <div class="enlace">
              <a href="/browse/author" target="_self"><h3>Autores</h3></a>
            </div>            
          </div>
          <div class="col-sm">
            <div class="imagen">
              <a href="/browse/list" target="_self"><img src="assets/monterrico/images/titulos.png"></a>
            </div>
            <div class="enlace">
              <a href="/browse/list" target="_self"><h3>Títulos</h3></a>
            </div>            
          </div>
          <div class="col-sm">
            <div class="imagen">
              <a href="/browse/dateissued" target="_self"><img src="assets/monterrico/images/fechas.png"></a>
            </div>
            <div class="enlace">
              <a href="/browse/dateissued" target="_self"><h3>Fechas</h3></a>
            </div>            
          </div>
          <div class="col-sm">
            <div class="imagen">
              <a href="/browse/subject" target="_self"><img src="assets/monterrico/images/materias.png"></a>
            </div>
            <div class="enlace">
              <a href="/browse/subject" target="_self"><h3>Materias</h3></a>
            </div>            
          </div>
        </div>

      </div>
    </div>
  </div>
  <picture class="background-image">
    <img alt="" [src]="'assets/monterrico/images/banner-monterrico.jpg'"/>
  </picture>
</div>
